*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('img/salao-cortes/espaco/espaco2.jpg') ;
    background-size: cover;
}

.carrossel-container {
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;
    margin-top: 90px;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    background-color: #727070;
    font-size: 30px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
.button {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}

.botao-voltar {
    display: block;
    text-align: center;
    margin: 70px;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}






.botao-voltar:hover {
    background-color: #fff;
    color: #121212;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

